$margin-mob : 2rem;
$margin-tab : 4rem;
$margin-desktop : 15rem;

$breakpoint-sm: 37.5em; //520px
$breakpoint-grid : 37.5em; //600px
$breakpoint-md: 50em; //800px
$breakpoint-xl: 75em; //1200px
$breakpoint-nav : 75em; //1200px

$max-grid : 5;
$gutter : 2rem;

$red: #b61f34;
$red-dark:#921427;

$font-title : 'Dancing Script';
$font-content : 'Quicksand';